<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="card w-100">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>File</th>
                    <th>Singer</th>
                    <th>Musician</th>
                    <th>Count</th>
                    <th>CountLike</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let song of songs">
                    <td>{{song.name}}</td>
                    <td>{{song.description}}</td>
                    <td>{{song.file}}</td>
                    <td>{{song.singer}}</td>
                    <td>{{song.musician}}</td>
                    <td>{{song.count}}</td>
                    <td>{{song.countLike}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[3,15,30,90]" [length]="totalElements" (page)="nextPage($event)"></mat-paginator>
