<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <div class="ms_profile_wrapper">
                    <h1>Edit Profile</h1>
                    <form class="change-password" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
                        <mat-error class="alert alert-primary">{{status}}</mat-error>
                        <div class="ms_profile_box">
                        <div class="ms_pro_img">
                            <img [src]="avatar" alt="" class="img-fluid">
                            <div class="pro_img_overlay">
                                <i class="fa_icon edit_icon"></i>
                            </div>
                        </div>
                        <div class="ms_pro_form">
                            <div class="form-group">
                                <label>Your Full Name *</label>
                                <input type="text" placeholder="Bella Scott" class="form-control" name="fullName" [(ngModel)]="Form.fullName" #fullName = "ngModel" required>
                                <mat-error *ngIf="fullName.hasError('required')">Your email is required.</mat-error>

                            </div>
                            <div class="form-group">
                                <label>Your Email *</label>
                                <input type="text" placeholder="ex.@dummymail.com" class="form-control" name="email" [(ngModel)]="Form.email" [formControl]="emailFormControl" required>
                                <mat-error *ngIf="emailFormControl.hasError('required')">Your email is required.</mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('minlength')">The email is valid. Please try again!</mat-error>

                            </div>
                            <div class="form-group">
                                <label>Your Address *</label>
                                <input type="text" placeholder="******" class="form-control" name="address" [(ngModel)]="Form.address" #address = "ngModel" required="">
                                <mat-error *ngIf="address.hasError('required')">Your address is required.</mat-error>

                            </div>
                            <div class="form-group">
                                <label>You phone Number *</label>
                                <input type="text" placeholder="phone number" class="form-control" name="phoneNumber" [(ngModel)]="Form.phoneNumber" #phoneNumber = "ngModel" required="" >
                                <mat-error *ngIf="phoneNumber.hasError('required')">Your phone number is required.</mat-error>

                            </div>
                            <div class="pro-form-btn text-center marger_top15">
                                <button  style="width: 400px" mat-stroked-button class="mat-button-toggle-group btn-outline-primary">Save
                                </button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>>
            </mat-card>
        </div>
    </div>
</div>
