<!----Footer Start---->
<div class="ms_footer_wrapper">
  <div class="ms_footer_logo">
    <a href="index.html"><img src="assets/images/-Sieu-pham-3D-ve-Chu-Meo-Di-Hia-0.jpg" alt="" class="meo-logo"></a>
  </div>
  <div class="ms_footer_inner">
    <div class="row">
    </div>
  </div>
  <!----Copyright---->
  <div class="col-lg-12">
    <div class="ms_copyright">
      <div class="footer_border"></div>
      <p>Copyright &copy; 2022 <a href="#">Meo Di Hia</a>. All Rights Reserved.</p>
    </div>
  </div>
</div>
  <!--main div-->
